.git
.github
.venv
venv
__pycache__
**/__pycache__
*.py[cod]
.pytest_cache
.coverage
htmlcov
tests
*.db
*.sqlite3
data
README.md
docker-compose.yml
Dockerfile
.dockerignore
.gitignore
pyproject.toml
requirements-dev.txt
.vscode
.idea
.DS_Store
